/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.typesDemo ul[dnd-list] {
  min-height: 42px;
  padding-left: 10px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.typesDemo ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.typesDemo ul[dnd-list] .dndPlaceholder {
  min-width: 500px;
  min-height: 300px;
  border: 1px solid red;
  float: left;
  height: 300px;
  margin: 10px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.typesDemo ul[dnd-list] li {
  background-color: #fff;
  display: block;
  padding: 10px 10px;

  /* Disable text selection if item is not draggable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.typesDemo ul[dnd-list] li dnd-nodrag {
  display: block;
  padding: 10px 15px;
}

/**
 * Gender-specifc background
 */
.typesDemo ul[dnd-list] li.background-man {
  background-color: #CAE0FC;
}

.typesDemo ul[dnd-list] li.background-woman {
  background-color: #FFE2F5;
}

.typesDemo ul[dnd-list] input.background-man {
  background-color: #D8E9FF;
  color: #2F4D99;
}

.typesDemo ul[dnd-list] input.background-woman {
  background-color: #FFF0FA;
  color: #D84FA7;
}

/**
 * Handle positioning
 */
.typesDemo .handle {
  cursor: move;
  position: absolute;
  top: 14px;
}

.typesDemo .name {
  margin: 20px;
}

.box {
  position: relative;
  background: #ffffff;
  border-top: 2px solid #c1c1c1;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}

.box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
  padding-bottom: 10px;
}

.box .box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}

 .timeline-panel {
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.divider{
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top:10px;
}

/**
  *LOGIN
*/
.form{
  padding:50px 50px 10px 50px;
}

.margen-input{
  padding-top: 20px !important;
  margin-bottom:10px;
}

.image-login{
  padding:150px ;
}

.right-side{
  background-color:#F4F5F5; min-height:450px !important;
}

.left-side{
  min-height:450px !important;
}

.btn-blue{
  background-color: #12A5DD;
  color: #fff;
  padding: 11px 29px !important;
}

.btn-blue:hover{
  background-color: #1293C5;
  color: #fff !important;
}

.background-login{
  background-color:#F4F5F5;
}

.form-control  {
  border-radius: 0 !important;

}

.checkbox {
  padding-left: 40px;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.img-margen{
  margin-top:-10px;
}

.img-logo{
  margin-top:1%;
}

.head-table{
  padding: 7px 25px;
  background-color: #e9ecef;
}

.point{
  cursor:pointer;
}

.color-header{
  background: #fff;
  border: none;
  margin-bottom: 0;
  box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.space-input{
  margin-bottom:25px;
}

footer{
  background-color: #215FAB;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
  color: #CCC;
}

.footer-login{
  margin-top: -12px;
}

.copy-footer{
  margin-top: 20px;
}

.link-footer{
  color: #A1A1A1;
}

.link-footer:hover{
  color:#12A5DD;
}

.footer-login a {
  color:#12A5DD;
}


b, strong {
    font-weight: normal !important;
}
