<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ConBox::..</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css"/> <!--enlace de hoja de estilos -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

	<!--Boostrap JQuery -->
	<script src="js/jquery.js"></script>
	<!--Librería para validar números -->
	<script src="js/autoNumeric.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
  <script src="js/ui-bootstrap-tpls.js"></script>

	<!--Boostrap JS Para animaciones-->
	<script src="js/bootstrap.min.js"></script>
	<!--Listas-->
	<script src="js/Lists.js"></script>
	<!-- font Awesome -->
	<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- *****************************************Angular Librerías***************************************** -->

	<script src="js/angular-drag-and-drop-lists.js"></script>

	<script src="js/angular-filter.min.js"></script>
	<!-- *****************************************Boostrap Angular Librerías***************************************** -->
	<script src="js/ui-bootstrap-tpls.js"></script>
	<!-- *****************************************Código de Select Boostrap Angular***************************************** -->
	<script src="./select.js"></script>
	<link rel="stylesheet" href="./select.css">
	<script src="./demo.js"></script>
	<!-- *****************************************Librería de angular loading***************************************** -->
	<script src="js/spin.min.js"></script>
	<script src="js/angular-loading.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
	<!-- *****************************************Librería de angular tags inputs***************************************** -->
	<script src="js/ng-tags-input.min.js"></script>
	<!-- *****************************************Librería de file upload***************************************** -->
	<script src="js/angular-file-upload.min.js"></script>
	<!-- *****************************************Librería de boostrap toogle ***************************************** -->
	<script src="js/angular-bootstrap-toggle.min.js"></script>
	<!-- *****************************************Alertas***************************************** -->
	<link rel="stylesheet" type="text/css" href="https://ptreesys.mx/sharedfiles/src/sweetalert.css">
	<script src="https://ptreesys.mx/sharedfiles/src/sweetalert.min.js"></script>
	<!-- Pattern -->
	<script src="js/ng-pattern-restrict.js"></script>
</head>

<body ng-controller="ctrlCubeShopHomeProductCart">
	<div class="fixed-top">
		<nav class="top-menu">
			 <div class="container-fluid">
				 <div class="row">
					 <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
						 <span class="nav-text">
							 <i class="fas fa-phone" aria-hidden="true"></i>   + 786-293-3272

						 </div>

				 <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-right">
							 <ul class="right-menu ">
							 <li><a href=""><i class="fas fa-question-circle"></i></a></li>
								 <li class="dropdown">
									<a class="" href="#"><i class="fas fa-user" aria-hidden="true"></i> My Account</a>
								</li>
								<li class="dropdown">
									<a class="" href="login.html"> Login/Register</a>
								</li>
								<li style="background-color:#048949;"><a  href="cart.html">
									<i class="fas fa-cart-plus"></i> Cart
									<span class="badge badge-cart">{{myCart.length}}</span>
								</a></li>


							</ul>
						</div>
					</div>
				</div>
			</nav>
			<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
				<div class="container-fluid">
					<!--logo -->
					<a class="navbar-brand" href="#"><img src="img/logo-cube-mia.png" style="max-width:130px;" /></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse justify-content-center"  id="navbarsExampleDefault">
						<form style="">
							<div class="row" style="margin-top:10px;">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="input-group input-group-sm">
										<input style="border-radius:0;" type="text" class="form-control" aria-label="Small" placeholder="Search...">
										<div class="input-group-append">
											<button type="button" class="btn btn-secondary" style="border-radius:0;">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- Links -->
							<ul class="navbar-nav m-auto" >
								<li class="nav-item">
									<a class="nav-link" href="index.html">HOME <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link " href="products.html">PRODUCTS</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">SERVICES </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">APPLICATIONS</a>
								</li>
							</ul>
						</form>


					</div>
				</div>
			</nav>
	</div>



<main>

	<div class="container wrap heading-principal">

  <div class="heading heading-principal">
    <h1>My cart</h1>
    <a href="products.html" class="btn btn-secondary continue-shopping">Continue Shopping</a>
  </div>
  <div class="cart-shopping">
<!--    <ul class="tableHead">
      <li class="prodHeader">Product</li>
      <li>Quantity</li>
      <li>Total</li>
       <li>Remove</li>
    </ul>-->
    <ul class="cart-shoppingWrap">


      <li ng-repeat="ProductCardsItem in myCart" ng-class-odd="'items odd'" ng-class-even="'items even'" >

    <div class="infoWrap">
        <div class="cart-shoppingSection">
        <img src="img/phone300x300.png" alt="" class="itemImg" />
          <p class="itemNumber">{{ProductCardsItem.NUM}}</p>
          <h3>{{ProductCardsItem.NUM}}</h3>

           <p> <input ng-model="ProductCardsItem.QTY" type="text"  class="qty" placeholder="1"/></p>

          <p class="stockStatus"> In Stock</p>
        </div>


        <div class="prodTotal cart-shoppingSection">
          <p>${{ProductCardsItem.PRICE}}</p>
        </div>
              <div class="cart-shoppingSection removeWrap">
           <a ng-click="removeCart(ProductCardsItem.NUM);" href="#" class="remove">x</a>
        </div>
      </div>
      </li>



      <!-- <li class="items even">

       <div class="infoWrap">
        <div class="cart-shoppingSection">

        <img src="img/camera300x300.png" alt="" class="itemImg" />
          <p class="itemNumber">#QUE-007544-002</p>
          <h3>Item Name 1</h3>

           <p> <input type="text"  class="qty" placeholder="1"/> x $1500.00</p>

          <p class="stockStatus"> In Stock</p>
        </div>


        <div class="prodTotal cart-shoppingSection">
          <p>$15.00</p>
        </div>
              <div class="cart-shoppingSection removeWrap">
           <a href="#" class="remove">x</a>
        </div>
      </div>
      </li> -->




      <!--<li class="items even">Item 2</li>-->

    </ul>
  </div>



  <div class="subtotal heading-principal">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">$2000.00</span></li>

          <li class="totalRow"><span class="label">Shipping</span><span class="value">$5.00</span></li>

            <li class="totalRow"><span class="label">Tax</span><span class="value">$4.00</span></li>
            <li class="totalRow final"><span class="label">Total</span><span class="value">$35000.00</span></li>
      <li class="totalRow"><a href="#" class="btn btn-secondary btn-green btn-block ">Checkout</a></li>

    </ul>
  </div>
</div>
</main>
</body>

<footer class="text-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3">
          <h5>About</h5>
          <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
          <p class="mb-0">
            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <h5>Informations</h5>
          <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
          <ul class="list-unstyled">
            <li><a href="">Link 1</a></li>
            <li><a href="">Link 2</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
          <h5>Others links</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a href="">Link 1</a></li>
          <li><a href="">Link 2</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i> Cube-US</li>
          <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
          <li><i class="fa fa-phone mr-2"></i> + 786-293-3272</li>
        </ul>
      </div>
      <div class="col-12 copyright mt-3  " >
        <p class="float-right">
          <a href="#" class="green"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
        </p>
      </div>
    </div>
  </div>
  </footer>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Librería de controlador principal -->
<script src="js/controller.js"></script>

</body>
</html>
