<!DOCTYPE html>
<html lang="en-us">
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ConBox::..</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css"/> <!--enlace de hoja de estilos -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
     <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-3.0.3.js"></script>
    <!--Boostrap JQuery -->
    <script src="js/jquery.js"></script>

    <!--Boostrap JS Para animaciones-->
    <script src="js/bootstrap.min.js"></script>
    <!--Listas-->
    <script src="js/Lists.js"></script>
    <!-- font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- *****************************************Angular Librerías***************************************** -->

    <script src="js/angular-drag-and-drop-lists.js"></script>

    <script src="js/angular-filter.min.js"></script>
    <!-- *****************************************Boostrap Angular Librerías***************************************** -->
    <script src="js/ui-bootstrap-tpls.js"></script>
    <!-- *****************************************Código de Select Boostrap Angular***************************************** -->
    <script src="./select.js"></script>
    <link rel="stylesheet" href="./select.css">
    <script src="./demo.js"></script>
    <!-- *****************************************Librería de angular loading***************************************** -->
    <script src="js/spin.min.js"></script>
    <script src="js/angular-loading.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/angular-loading.css" />
    <!-- *****************************************Librería de angular tags inputs***************************************** -->
    <script src="js/ng-tags-input.min.js"></script>
    <!-- *****************************************Librería de file upload***************************************** -->
    <script src="js/angular-file-upload.min.js"></script>
    <!-- *****************************************Librería de boostrap toogle ***************************************** -->
    <script src="js/angular-bootstrap-toggle.min.js"></script>
    <!-- *****************************************Librería de controlador principal***************************************** -->
    <script src="js/controller.js"></script>
    <!-- *****************************************Alertas***************************************** -->
    <link rel="stylesheet" type="text/css" href="https://ptreesys.mx/sharedfiles/src/sweetalert.css">
    <script src="https://ptreesys.mx/sharedfiles/src/sweetalert.min.js"></script>
    <!-- Pattern -->
    <script src="js/ng-pattern-restrict.js"></script>

  </head>
  <body  ng-controller="ctrlCubeShopHomeController" >
    <nav class="top-menu  sticky-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <span class="nav-text">
              <i class="fas fa-phone" aria-hidden="true"></i>   {{MasterInfo[0].CubeLocalPhone}}
            </div>
            <div class="col-sm-3 text-center">
            </div>
            <div class="col-sm-5 text-right hidden-xs">
              <ul class="right-menu ">
              <li><a href=""><i class="fas fa-question-circle"></i></a></li>
                <li class="dropdown">
                 <a class="" href="#"><i class="fas fa-user" aria-hidden="true"></i> My Account</a>
               </li>
               <li class="dropdown">
                 <a class="" href="login.html"> Login/Register</a>
               </li>
               <li style="background-color:#048949;"><a  href="cart.html">
                 <i class="fas fa-cart-plus"></i> My Cart
                 <span class="badge badge-cart "> 10</span>
               </a></li>
             </ul>
           </div>
         </div>
       </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
        <!--logo -->
        <a class="navbar-brand" href="#"><img ng-src="{{'/'+ MasterInfo[0].HOMELOGO}}" style="max-width:130px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center"  id="navbarsExampleDefault">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form >

                <div class="input-group input-group-sm ">
                  <input style="border-radius:0;width:300px;" type="text" class="form-control" aria-label="Small" placeholder="Search...">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" style="border-radius:0;">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
                <!-- Links -->
                <ul class="navbar-nav m-auto" >
                  <li class="nav-item">
                    <a ng-show="MasterInfo[0].Home" class="nav-link  active" href="index.html">HOME <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a ng-show="MasterInfo[0].Products" class="nav-link " href="products.html">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                    <a ng-show="MasterInfo[0].Service" class="nav-link" href="#">SERVICES </a>
                  </li>
                  <li class="nav-item">
                    <a ng-show="MasterInfo[0].Apps" class="nav-link" href="#">APPLICATIONS</a>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <section>
        <div  class="margin-top:200px;">
          <div class="row">
            <div class="col-md-12">
              <div uib-carousel template-url="/tpl.html"  active="autoseq.wizardStep" no-wrap="true" on-carousel-next="autoseq.onNext()" style="height: 395px;">
                <div uib-slide ng-repeat="slide in slides track by slide.ID" index="slide.ID"  style="height: 395px; " index="0">
                  <img ng-src="{{'/'+ slide.Image}}" height="700" style="width:100%; "  >
                  <div class="carousel-caption" style="top: 15%;">
                    <h4>{{slide.Title}}</h4>
                    <p>{{slide.Message}}</p>
                    <button class="btn btn-secondary btn-info">{{slide.ButtonText}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>


    <br> <br>
    <h3 class="text-center"><strong>PRODUCTS</strong></h3>
    <br>

    <div class="row" ng-repeat="(key, value) in ProductCards | groupBy: 'Fila'">
      <div class="col-md-2" ng-repeat="ProductCardsItem in value">
        <div class="card">
          <img class="card-img-top" ng-src="{{'/'+ ProductCardsItem.GROUPIMG}}" alt="products-cube-image">
          <div class="card-body" >
            <h5 class="card-title" style="color: #006837;">{{ProductCardsItem.NAME}}</h5>
            <p class="card-text" >{{ProductCardsItem.DESCRIPTION}}</p>
             <a href="products.html"><button type="button" class="btn btn-secondary btn-green">+ See more</button> </a>
          </div>
        </div>
      </div>
    </div>



  </section>
<br><br>
  <!-- <section class="">
<h3 class="text-center"><strong>FEATURED PRODUCTS</strong></h3>
<br> -->

    <!-- // Comienzo Carousel -->
     <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
     <div class="container">
     <div class="row">
     <div class="col-md-12">
       <div class="carousel-inner">
      <div class="carousel-item active">
      <div class="row">
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"  style="color: #006837;">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"  style="color: #006837;">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"  style="color: #006837;">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"  style="color: #006837;">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>

   </div>
      </div>
      <div class="carousel-item">
        <div class="row">
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>

      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>

   </div>
      </div>
      <div class="carousel-item">
        <div class="row">
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
        <div class="col-md-3">
        <div class="card" >
    <img class="card-img-top" src="img/projectors.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-secondary btn-green">Go somewhere</a>
    </div>
  </div>
      </div>
   </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
     </div>

     </div>

     </div>

  </div> -->
<!-- // Fin Carousel -->

  <!-- </section> -->


  <!--
      <section>
  	    <div class="container">
          <div class="col">
          <br> <br>
          <h2 class="text-center"><strong>SERVICES</strong></h2>
  				<br>
  				<div class="row">
    				<div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-4">
                      <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                  </div>
                  <div class="col-md-8 px-3">
                    <div class="card-block px-3">
          					  <br>
                      <h4 class="card-title">Custom Panel Fabrication</h4>
                      <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <a href="#" class="btn btn-secondary btn-green">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  				</div>
  				<div class="row">
  				  <div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-4">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
                  </div>
                  <div class="col-md-8 px-3">
                    <div class="card-block px-3">
          					  <br>
                      <h4 class="card-title">Proffesional Engineering Services</h4>
                      <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                      <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <a href="#" class="btn btn-secondary btn-green">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  				</div>
        </div>
  		</div>
    </section>-->
    </main>
    <script type="text/ng-template" id="/tpl.html">
      <div >
        <div class="row">
          <div class="col-md-12">
            <div class="carousel ">
             <div class="carousel-inner" ng-transclude></div>
             <div class="carousel-controls">
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>

               <ol class="carousel-indicators" ng-show="slides.length > 1">
                <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }">
                </li>
               </ol>

               <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
               <div >

               </div>

             </div>
            </div>
          </div>
        </div>

      </div>

    </script>
  </body>
  <footer class="text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-4 col-xl-3">
          <h5>About</h5>
          <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
          <p class="mb-0">
            {{MasterInfo[0].AboutCube}}
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
          <h5>Informations</h5>
          <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
          <ul class="list-unstyled">
            <li><a href="">{{MasterInfo[0].Link1}}</a></li>
            <li><a href="">{{MasterInfo[0].Link2}}</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
          <h5>Others links</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><a href="">{{MasterInfo[0].Link3}}</a></li>
          <li><a href="">{{MasterInfo[0].Link4}}</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h5>Contact</h5>
        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
        <ul class="list-unstyled">
          <li><i class="fa fa-home mr-2"></i> {{MasterInfo[0].CubeLocation}}</li>
          <li><i class="fa fa-envelope mr-2"></i> {{MasterInfo[0].CubeEmail}}</li>
          <li><i class="fa fa-phone mr-2"></i> {{MasterInfo[0].CubeLocalPhone}}</li>
        </ul>
      </div>
      <div class="col-12 copyright mt-3  " >
        <p class="float-right">
          <a href="#" class="green"><i class="fas fa-arrow-circle-up fa-3x"></i></a>
        </p>
      </div>
    </div>
  </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>
